dis -f "Anguished|An anguished character is miserable, and has disadvantage on all ability checks, attack rolls, and saving throws. There is only one way to recover from such depths of desperation—the Player-hero must experience a bout of madness."