-d {{floor(proficiencyBonus/2)}} -f "Battle-Fury|Starting at 3rd level, you can throw aside all concern for defence to attack with fierce desperation. When you make your first attack on your turn, you can decide to attack recklessly. Doing so gives you advantage on melee weapon attack rolls using Strength, a bonus to damage rolls equal to half your proficiency bonus (rounded down), and resistance to bludgeoning, piercing, and slashing damage until the start of your next turn, but attack rolls against you have advantage until your next turn."