-critdice 2 -f "Fell (Weapon)|Hard and straight, a critical hit from this weapon is more dangerous. When you score a critical hit with this weapon, you can roll two additional weapon damage dice and add them to the extra damage. You cannot apply this reward to a weapon that has the ammunition property, but you can apply it to one piece of ammunition instead, that you can choose to expend after you roll the die for the attack roll, but before the Loremaster tells you whether you hit or miss. You can always recover this piece of ammunition at the end of a battle."