-dc 10 -f "Friendly—DC 10|The audience is very interested in hearing what the Player-heroes have to say, and is willing to hear their plea. Maybe the Company was introduced by someone of note, or the spokesperson belongs to the same culture as the opposing party."