dis -b "-2[Called Shot]" -f "**Called Shot: Vitals (+2 AC)**|The vitals correspond to the abdomen on a humanoid: critical organs not well-protected by bone. Attacks on the vitals can also include dastardly 'low blows.' Vitals for non-humanoid creatures can include nearly any location that is relatively hard to hit, poorly protected, and debilitating if struck."