<drac2>
b = int(roll("1d4"))
b = -1 * b if b in [1,3] else b
</drac2>
-b {{f" '{b} [ominous will]' "}}
-f "Ominous Will|Immediately after you make an attack roll, an ability check, or a saving throw and roll a 1 on the d20, your shadow exerts a will of its own and might assist or hinder you or those around you. The next time you or a creature within 30 feet of you that you can see makes an attack roll, an ability check, or a saving throw, roll a d4. If the number is odd, reduce the total by the number rolled. If the number is even, increase the total by the number rolled. Once this effect occurs, it can't happen again until you finish a short or long rest."
